# MongoDB Configuration
MONGODB_URI=

# Server Port
PORT=3000

# SMTP Configuration (Brevo or SendGrid)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT Configuration
JWT_SECRET=

# Frontend Configuration
FRONTEND_DOMAIN=http://localhost:3001

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
